canvas {
    width: 100%;
    height: 100%
}

#current {
    position: absolute;
    /*top: 0;*/
    color: green;
    font-family: "Courier New";
    font-size: 44pt;
    z-index: 100;
    /*right: 0;*/
}

#stats {
    position: absolute;
    top: 0;
    right: 0;
}

.property {
    font-family: "Courier New";
    position: absolute;
    color: darkgreen;
    font-size: 42pt;
    z-index: 100;
}

ul.propertyList {
   font-family: "Courier New";
   list-style-type: none;
   position: absolute;
   top: 30px;
   background: rgba(0,0,0,0.2);


   font-size: 22pt;
   text-shadow: 2px 2px #333333;
   color: limegreen;
}




@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#main-window[inFullscreen=true] {
    padding-top: 0px !important;
}

#navigator-toolbox[inFullscreen=true]:not(:hover) #PersonalToolbar,
#navigator-toolbox[inFullscreen=true]:not(:hover) #GBL-Toolbar,
#navigator-toolbox[inFullscreen=true]:not(:hover) #web-developer-toolbar,
#navigator-toolbox[inFullscreen=true]:not(:hover) .web-developer-toolbar {
    visibility: collapse;
}
